.el-tree-node__expand-icon{
  background: url("../../assets/newicon/combined_shape.png") no-repeat center;
}
/* .el-collapse-item__header {
  text-align: left;
}
.el-collapse-item__arrow{
  float:left;
  margin-top:10px;
} */
