$split-color:#e7e7e7;
$two-nav-focus:#edf7ff;
$two-nav-hover-color:#edf7ff;
$action-btn-container-height: 50px;
$require-text-color:#bfbfbf;
$main-color: #bfbfbf;
$formular-header-color:#edf7ff;
$one-nav-text-color:#606266;
$split-color:#dfe6ec;
$container-left: 78px;
$container-bottom: 50px;
$btn-container-bottom: 8px;
$borderColor1 : #d1dbe5;
$input-border-color: #D6DBE6 ;

